--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: estado_contrato_enum; Type: TYPE; Schema: public; Owner: Alex
--

CREATE TYPE public.estado_contrato_enum AS ENUM (
    'ACTIVO',
    'FINALIZADO',
    'CANCELADO'
);


ALTER TYPE public.estado_contrato_enum OWNER TO "Alex";

--
-- Name: estado_unidad_enum; Type: TYPE; Schema: public; Owner: Alex
--

CREATE TYPE public.estado_unidad_enum AS ENUM (
    'DISPONIBLE',
    'OCUPADO',
    'MANTENIMIENTO'
);


ALTER TYPE public.estado_unidad_enum OWNER TO "Alex";

--
-- Name: rol_usuario_enum; Type: TYPE; Schema: public; Owner: Alex
--

CREATE TYPE public.rol_usuario_enum AS ENUM (
    'ADMIN',
    'SECRETARIO'
);


ALTER TYPE public.rol_usuario_enum OWNER TO "Alex";

--
-- Name: tipo_inmueble_enum; Type: TYPE; Schema: public; Owner: Alex
--

CREATE TYPE public.tipo_inmueble_enum AS ENUM (
    'RESIDENCIAL',
    'COMERCIAL',
    'INDUSTRIAL',
    'ESPECIAL'
);


ALTER TYPE public.tipo_inmueble_enum OWNER TO "Alex";

--
-- Name: tipo_movimiento_enum; Type: TYPE; Schema: public; Owner: Alex
--

CREATE TYPE public.tipo_movimiento_enum AS ENUM (
    'INGRESO',
    'GASTO'
);


ALTER TYPE public.tipo_movimiento_enum OWNER TO "Alex";

--
-- Name: tipo_persona_enum; Type: TYPE; Schema: public; Owner: Alex
--

CREATE TYPE public.tipo_persona_enum AS ENUM (
    'NATURAL',
    'JURIDICA'
);


ALTER TYPE public.tipo_persona_enum OWNER TO "Alex";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bancos; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.bancos (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.bancos OWNER TO "Alex";

--
-- Name: bancos_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.bancos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bancos_id_seq OWNER TO "Alex";

--
-- Name: bancos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.bancos_id_seq OWNED BY public.bancos.id;


--
-- Name: conceptos_recibo; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.conceptos_recibo (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    obligatorio boolean DEFAULT false,
    activo boolean DEFAULT true
);


ALTER TABLE public.conceptos_recibo OWNER TO "Alex";

--
-- Name: conceptos_recibo_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.conceptos_recibo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conceptos_recibo_id_seq OWNER TO "Alex";

--
-- Name: conceptos_recibo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.conceptos_recibo_id_seq OWNED BY public.conceptos_recibo.id;


--
-- Name: configuracion_negocio; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.configuracion_negocio (
    id integer NOT NULL,
    empresa character varying(150) NOT NULL,
    ruc character varying(20) NOT NULL,
    moneda character varying(10) DEFAULT 'PEN'::character varying,
    igv_porcentaje numeric(5,2),
    ipc_anual_actual numeric(5,2),
    CONSTRAINT configuracion_negocio_igv_porcentaje_check CHECK ((igv_porcentaje >= (0)::numeric))
);


ALTER TABLE public.configuracion_negocio OWNER TO "Alex";

--
-- Name: configuracion_negocio_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.configuracion_negocio_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.configuracion_negocio_id_seq OWNER TO "Alex";

--
-- Name: configuracion_negocio_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.configuracion_negocio_id_seq OWNED BY public.configuracion_negocio.id;


--
-- Name: contratos; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.contratos (
    id integer NOT NULL,
    inquilino_id integer NOT NULL,
    unidad_id integer NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date,
    dia_pago integer,
    monto_renta numeric(38,2),
    moneda character varying(10) DEFAULT 'PEN'::character varying,
    estado public.estado_contrato_enum DEFAULT 'ACTIVO'::public.estado_contrato_enum,
    CONSTRAINT chk_fechas CHECK (((fecha_fin IS NULL) OR (fecha_fin > fecha_inicio))),
    CONSTRAINT contratos_dia_pago_check CHECK (((dia_pago >= 1) AND (dia_pago <= 31))),
    CONSTRAINT contratos_monto_renta_check CHECK ((monto_renta >= (0)::numeric))
);


ALTER TABLE public.contratos OWNER TO "Alex";

--
-- Name: contratos_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.contratos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contratos_id_seq OWNER TO "Alex";

--
-- Name: contratos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.contratos_id_seq OWNED BY public.contratos.id;


--
-- Name: cuentas_bancarias; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.cuentas_bancarias (
    id integer NOT NULL,
    codigo character varying(255) NOT NULL,
    banco_id integer NOT NULL,
    numero_cuenta character varying(255) NOT NULL,
    tipo character varying(255),
    moneda character varying(255) DEFAULT 'PEN'::character varying,
    saldo_actual numeric(38,2) DEFAULT 0,
    titular character varying(255)
);


ALTER TABLE public.cuentas_bancarias OWNER TO "Alex";

--
-- Name: cuentas_bancarias_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.cuentas_bancarias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cuentas_bancarias_id_seq OWNER TO "Alex";

--
-- Name: cuentas_bancarias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.cuentas_bancarias_id_seq OWNED BY public.cuentas_bancarias.id;


--
-- Name: inmuebles; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.inmuebles (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL,
    tipo character varying(255) NOT NULL,
    direccion character varying(255),
    numero character varying(255),
    codigo_postal character varying(255),
    ciudad character varying(255),
    descripcion character varying(255),
    imagen_url character varying(255),
    activo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.inmuebles OWNER TO "Alex";

--
-- Name: inmuebles_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.inmuebles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inmuebles_id_seq OWNER TO "Alex";

--
-- Name: inmuebles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.inmuebles_id_seq OWNED BY public.inmuebles.id;


--
-- Name: inquilinos; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.inquilinos (
    id integer NOT NULL,
    codigo character varying(255) NOT NULL,
    tipo_persona character varying(255) NOT NULL,
    nombre_completo character varying(255) NOT NULL,
    documento_identidad character varying(255),
    telefono character varying(255),
    email character varying(255),
    foto_url text,
    activo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.inquilinos OWNER TO "Alex";

--
-- Name: inquilinos_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.inquilinos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inquilinos_id_seq OWNER TO "Alex";

--
-- Name: inquilinos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.inquilinos_id_seq OWNED BY public.inquilinos.id;


--
-- Name: movimientos; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.movimientos (
    id integer NOT NULL,
    codigo character varying(255) NOT NULL,
    fecha date NOT NULL,
    tipo character varying(255) NOT NULL,
    categoria character varying(255),
    monto double precision,
    cuenta_id integer NOT NULL,
    inmueble_id integer,
    unidad_id integer,
    recibo_id integer,
    descripcion character varying(255),
    CONSTRAINT movimientos_monto_check CHECK ((monto > ((0)::numeric)::double precision))
);


ALTER TABLE public.movimientos OWNER TO "Alex";

--
-- Name: movimientos_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.movimientos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movimientos_id_seq OWNER TO "Alex";

--
-- Name: movimientos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.movimientos_id_seq OWNED BY public.movimientos.id;


--
-- Name: recibo_detalle; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.recibo_detalle (
    id integer NOT NULL,
    recibo_id integer NOT NULL,
    concepto_id integer NOT NULL,
    importe numeric(12,2) DEFAULT 0,
    CONSTRAINT recibo_detalle_importe_check CHECK ((importe >= (0)::numeric))
);


ALTER TABLE public.recibo_detalle OWNER TO "Alex";

--
-- Name: recibo_detalle_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.recibo_detalle_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recibo_detalle_id_seq OWNER TO "Alex";

--
-- Name: recibo_detalle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.recibo_detalle_id_seq OWNED BY public.recibo_detalle.id;


--
-- Name: recibos; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.recibos (
    id integer NOT NULL,
    codigo character varying(255) NOT NULL,
    contrato_id integer NOT NULL,
    fecha_emision date NOT NULL,
    anio integer NOT NULL,
    mes integer,
    estado_cobro boolean DEFAULT false,
    total numeric(38,2),
    CONSTRAINT recibos_mes_check CHECK (((mes >= 1) AND (mes <= 12))),
    CONSTRAINT recibos_total_check CHECK ((total >= (0)::numeric))
);


ALTER TABLE public.recibos OWNER TO "Alex";

--
-- Name: recibos_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.recibos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recibos_id_seq OWNER TO "Alex";

--
-- Name: recibos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.recibos_id_seq OWNED BY public.recibos.id;


--
-- Name: unidades; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.unidades (
    id integer NOT NULL,
    inmueble_id integer NOT NULL,
    tipo character varying(255) NOT NULL,
    planta character varying(255),
    codigo character varying(255),
    estado character varying(255) DEFAULT 'DISPONIBLE'::public.estado_unidad_enum,
    activo boolean DEFAULT true
);


ALTER TABLE public.unidades OWNER TO "Alex";

--
-- Name: unidades_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.unidades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unidades_id_seq OWNER TO "Alex";

--
-- Name: unidades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.unidades_id_seq OWNED BY public.unidades.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: Alex
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL,
    apellido character varying(255),
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    rol character varying(255) NOT NULL,
    activo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usuarios OWNER TO "Alex";

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: Alex
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO "Alex";

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Alex
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: vw_recibo_cabecera; Type: VIEW; Schema: public; Owner: Alex
--

CREATE VIEW public.vw_recibo_cabecera AS
 SELECT r.id AS recibo_id,
    r.codigo AS numero_recibo,
    r.fecha_emision,
    r.anio,
    r.mes,
    r.estado_cobro,
    r.total,
    c.id AS contrato_id,
    i.nombre_completo AS inquilino,
    i.documento_identidad,
    u.codigo AS unidad_codigo,
    u.tipo AS unidad_tipo,
    im.nombre AS inmueble,
    im.direccion
   FROM ((((public.recibos r
     JOIN public.contratos c ON ((c.id = r.contrato_id)))
     JOIN public.inquilinos i ON ((i.id = c.inquilino_id)))
     JOIN public.unidades u ON ((u.id = c.unidad_id)))
     JOIN public.inmuebles im ON ((im.id = u.inmueble_id)));


ALTER VIEW public.vw_recibo_cabecera OWNER TO "Alex";

--
-- Name: bancos id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.bancos ALTER COLUMN id SET DEFAULT nextval('public.bancos_id_seq'::regclass);


--
-- Name: conceptos_recibo id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.conceptos_recibo ALTER COLUMN id SET DEFAULT nextval('public.conceptos_recibo_id_seq'::regclass);


--
-- Name: configuracion_negocio id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.configuracion_negocio ALTER COLUMN id SET DEFAULT nextval('public.configuracion_negocio_id_seq'::regclass);


--
-- Name: contratos id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.contratos ALTER COLUMN id SET DEFAULT nextval('public.contratos_id_seq'::regclass);


--
-- Name: cuentas_bancarias id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.cuentas_bancarias ALTER COLUMN id SET DEFAULT nextval('public.cuentas_bancarias_id_seq'::regclass);


--
-- Name: inmuebles id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.inmuebles ALTER COLUMN id SET DEFAULT nextval('public.inmuebles_id_seq'::regclass);


--
-- Name: inquilinos id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.inquilinos ALTER COLUMN id SET DEFAULT nextval('public.inquilinos_id_seq'::regclass);


--
-- Name: movimientos id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.movimientos ALTER COLUMN id SET DEFAULT nextval('public.movimientos_id_seq'::regclass);


--
-- Name: recibo_detalle id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibo_detalle ALTER COLUMN id SET DEFAULT nextval('public.recibo_detalle_id_seq'::regclass);


--
-- Name: recibos id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibos ALTER COLUMN id SET DEFAULT nextval('public.recibos_id_seq'::regclass);


--
-- Name: unidades id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.unidades ALTER COLUMN id SET DEFAULT nextval('public.unidades_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: bancos; Type: TABLE DATA; Schema: public; Owner: Alex
--

COPY public.bancos (id, nombre) FROM stdin;
1	BCP
2	BBVA
\.


--
-- Data for Name: conceptos_recibo; Type: TABLE DATA; Schema: public; Owner: Alex
--

COPY public.conceptos_recibo (id, nombre, obligatorio, activo) FROM stdin;
1	renta	t	t
2	agua	f	t
3	luz	f	t
4	mantenimiento	f	t
5	ipc_anual	f	t
6	igv	t	t
7	otros	f	t
\.


--
-- Data for Name: configuracion_negocio; Type: TABLE DATA; Schema: public; Owner: Alex
--

COPY public.configuracion_negocio (id, empresa, ruc, moneda, igv_porcentaje, ipc_anual_actual) FROM stdin;
1	RentAltoke Inmobiliaria	20123456789	PEN	18.00	3.50
\.


--
-- Data for Name: contratos; Type: TABLE DATA; Schema: public; Owner: Alex
--



--
-- Data for Name: cuentas_bancarias; Type: TABLE DATA; Schema: public; Owner: Alex
--

COPY public.cuentas_bancarias (id, codigo, banco_id, numero_cuenta, tipo, moneda, saldo_actual, titular) FROM stdin;
1	CTA-001	1	191-99887766-0-11	CORRIENTE	PEN	25400.50	RentAltoke Inmobiliaria
2	CTA-002	2	0011-0445-02001234	AHORROS	PEN	12150.00	RentAltoke Inmobiliaria
\.


--
-- Data for Name: inmuebles; Type: TABLE DATA; Schema: public; Owner: Alex
--



--
-- Data for Name: inquilinos; Type: TABLE DATA; Schema: public; Owner: Alex
--



--
-- Data for Name: movimientos; Type: TABLE DATA; Schema: public; Owner: Alex
--



--
-- Data for Name: recibo_detalle; Type: TABLE DATA; Schema: public; Owner: Alex
--



--
-- Data for Name: recibos; Type: TABLE DATA; Schema: public; Owner: Alex
--



--
-- Data for Name: unidades; Type: TABLE DATA; Schema: public; Owner: Alex
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: Alex
--

COPY public.usuarios (id, nombre, apellido, email, password_hash, rol, activo, created_at) FROM stdin;
1	Alexander	Acosta	alexander@rentaltoque.com	12345678	SECRETARIO	t	2026-04-22 22:54:00.902015
2	Kevin	Balbuena	balbu@rentaltoque.com	labububu	SECRETARIO	t	2026-04-22 22:54:00.902015
3	Jamir	Rojas	rojito@rentaltoque.com	jamonada	SECRETARIO	t	2026-04-22 22:54:00.902015
\.


--
-- Name: bancos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.bancos_id_seq', 1, false);


--
-- Name: conceptos_recibo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.conceptos_recibo_id_seq', 1, false);


--
-- Name: configuracion_negocio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.configuracion_negocio_id_seq', 1, false);


--
-- Name: contratos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.contratos_id_seq', 1, false);


--
-- Name: cuentas_bancarias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.cuentas_bancarias_id_seq', 1, false);


--
-- Name: inmuebles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.inmuebles_id_seq', 1, true);


--
-- Name: inquilinos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.inquilinos_id_seq', 23, true);


--
-- Name: movimientos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.movimientos_id_seq', 313, true);


--
-- Name: recibo_detalle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.recibo_detalle_id_seq', 150, true);


--
-- Name: recibos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.recibos_id_seq', 56, true);


--
-- Name: unidades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.unidades_id_seq', 1, false);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Alex
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, false);


--
-- Name: bancos bancos_nombre_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.bancos
    ADD CONSTRAINT bancos_nombre_key UNIQUE (nombre);


--
-- Name: bancos bancos_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.bancos
    ADD CONSTRAINT bancos_pkey PRIMARY KEY (id);


--
-- Name: conceptos_recibo conceptos_recibo_nombre_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.conceptos_recibo
    ADD CONSTRAINT conceptos_recibo_nombre_key UNIQUE (nombre);


--
-- Name: conceptos_recibo conceptos_recibo_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.conceptos_recibo
    ADD CONSTRAINT conceptos_recibo_pkey PRIMARY KEY (id);


--
-- Name: configuracion_negocio configuracion_negocio_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.configuracion_negocio
    ADD CONSTRAINT configuracion_negocio_pkey PRIMARY KEY (id);


--
-- Name: configuracion_negocio configuracion_negocio_ruc_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.configuracion_negocio
    ADD CONSTRAINT configuracion_negocio_ruc_key UNIQUE (ruc);


--
-- Name: contratos contratos_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.contratos
    ADD CONSTRAINT contratos_pkey PRIMARY KEY (id);


--
-- Name: cuentas_bancarias cuentas_bancarias_codigo_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.cuentas_bancarias
    ADD CONSTRAINT cuentas_bancarias_codigo_key UNIQUE (codigo);


--
-- Name: cuentas_bancarias cuentas_bancarias_numero_cuenta_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.cuentas_bancarias
    ADD CONSTRAINT cuentas_bancarias_numero_cuenta_key UNIQUE (numero_cuenta);


--
-- Name: cuentas_bancarias cuentas_bancarias_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.cuentas_bancarias
    ADD CONSTRAINT cuentas_bancarias_pkey PRIMARY KEY (id);


--
-- Name: inmuebles inmuebles_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.inmuebles
    ADD CONSTRAINT inmuebles_pkey PRIMARY KEY (id);


--
-- Name: inquilinos inquilinos_codigo_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.inquilinos
    ADD CONSTRAINT inquilinos_codigo_key UNIQUE (codigo);


--
-- Name: inquilinos inquilinos_documento_identidad_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.inquilinos
    ADD CONSTRAINT inquilinos_documento_identidad_key UNIQUE (documento_identidad);


--
-- Name: inquilinos inquilinos_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.inquilinos
    ADD CONSTRAINT inquilinos_pkey PRIMARY KEY (id);


--
-- Name: movimientos movimientos_codigo_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT movimientos_codigo_key UNIQUE (codigo);


--
-- Name: movimientos movimientos_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT movimientos_pkey PRIMARY KEY (id);


--
-- Name: recibo_detalle recibo_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibo_detalle
    ADD CONSTRAINT recibo_detalle_pkey PRIMARY KEY (id);


--
-- Name: recibos recibos_codigo_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibos
    ADD CONSTRAINT recibos_codigo_key UNIQUE (codigo);


--
-- Name: recibos recibos_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibos
    ADD CONSTRAINT recibos_pkey PRIMARY KEY (id);


--
-- Name: unidades unidades_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.unidades
    ADD CONSTRAINT unidades_pkey PRIMARY KEY (id);


--
-- Name: recibo_detalle unique_concepto_por_recibo; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibo_detalle
    ADD CONSTRAINT unique_concepto_por_recibo UNIQUE (recibo_id, concepto_id);


--
-- Name: recibos unique_recibo_mes; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibos
    ADD CONSTRAINT unique_recibo_mes UNIQUE (contrato_id, anio, mes);


--
-- Name: unidades unique_unidad_por_inmueble; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.unidades
    ADD CONSTRAINT unique_unidad_por_inmueble UNIQUE (inmueble_id, codigo);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_contratos_inquilino; Type: INDEX; Schema: public; Owner: Alex
--

CREATE INDEX idx_contratos_inquilino ON public.contratos USING btree (inquilino_id);


--
-- Name: idx_contratos_unidad; Type: INDEX; Schema: public; Owner: Alex
--

CREATE INDEX idx_contratos_unidad ON public.contratos USING btree (unidad_id);


--
-- Name: idx_movimientos_cuenta; Type: INDEX; Schema: public; Owner: Alex
--

CREATE INDEX idx_movimientos_cuenta ON public.movimientos USING btree (cuenta_id);


--
-- Name: idx_recibos_contrato; Type: INDEX; Schema: public; Owner: Alex
--

CREATE INDEX idx_recibos_contrato ON public.recibos USING btree (contrato_id);


--
-- Name: idx_unidades_inmueble; Type: INDEX; Schema: public; Owner: Alex
--

CREATE INDEX idx_unidades_inmueble ON public.unidades USING btree (inmueble_id);


--
-- Name: unica_unidad_activa; Type: INDEX; Schema: public; Owner: Alex
--

CREATE UNIQUE INDEX unica_unidad_activa ON public.contratos USING btree (unidad_id) WHERE (estado = 'ACTIVO'::public.estado_contrato_enum);


--
-- Name: contratos fk_contrato_inquilino; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.contratos
    ADD CONSTRAINT fk_contrato_inquilino FOREIGN KEY (inquilino_id) REFERENCES public.inquilinos(id);


--
-- Name: contratos fk_contrato_unidad; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.contratos
    ADD CONSTRAINT fk_contrato_unidad FOREIGN KEY (unidad_id) REFERENCES public.unidades(id);


--
-- Name: cuentas_bancarias fk_cuenta_banco; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.cuentas_bancarias
    ADD CONSTRAINT fk_cuenta_banco FOREIGN KEY (banco_id) REFERENCES public.bancos(id);


--
-- Name: recibo_detalle fk_detalle_concepto; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibo_detalle
    ADD CONSTRAINT fk_detalle_concepto FOREIGN KEY (concepto_id) REFERENCES public.conceptos_recibo(id);


--
-- Name: recibo_detalle fk_detalle_recibo; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibo_detalle
    ADD CONSTRAINT fk_detalle_recibo FOREIGN KEY (recibo_id) REFERENCES public.recibos(id) ON DELETE CASCADE;


--
-- Name: movimientos fk_mov_cuenta; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT fk_mov_cuenta FOREIGN KEY (cuenta_id) REFERENCES public.cuentas_bancarias(id);


--
-- Name: movimientos fk_mov_inmueble; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT fk_mov_inmueble FOREIGN KEY (inmueble_id) REFERENCES public.inmuebles(id);


--
-- Name: movimientos fk_mov_recibo; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT fk_mov_recibo FOREIGN KEY (recibo_id) REFERENCES public.recibos(id);


--
-- Name: movimientos fk_mov_unidad; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT fk_mov_unidad FOREIGN KEY (unidad_id) REFERENCES public.unidades(id);


--
-- Name: recibos fk_recibo_contrato; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.recibos
    ADD CONSTRAINT fk_recibo_contrato FOREIGN KEY (contrato_id) REFERENCES public.contratos(id);


--
-- Name: unidades fk_unidad_inmueble; Type: FK CONSTRAINT; Schema: public; Owner: Alex
--

ALTER TABLE ONLY public.unidades
    ADD CONSTRAINT fk_unidad_inmueble FOREIGN KEY (inmueble_id) REFERENCES public.inmuebles(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

